/* CIT 230 - Assignment Portal CSS Template */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Ubuntu, sans-serif;
    color: #5c4075;
    background-color: #dadada;
}

body a {
    color: #9571b6;
}

h1 {
    font-size: 2rem;
    color: #dadada;
    text-shadow: 2px 2px #282828;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 700px;
}

header, footer, footer a {
    text-align: center;
    background-color: #5c4075;
    color: #dadada;
    text-shadow: 2px 2px #262626;
}

header img {
    width: 200px;
    height: auto;
    float: right;
    border: 2px solid #9571b6;
    border-radius: 5px;
}

footer {
    font-size: .75em;
}