@media only screen and (min-width: 588px) and (max-width:1024px){
    /* Town Page Styles */
    body {
        display: grid;
        grid-template-columns: 18ch 1fr;
        grid-template-areas: 
        'header header'
        'nav main'
        'contact contact'
        'footer footer';
        margin: 0 auto;
        width:100%;
    }
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
        margin: 0 auto;
        width: 100%;
    }

    nav {
        grid-area: nav;
        margin: 0;
    }
    nav a {
        padding: .5rem 0 0 0;
        display:block;
        width: 100%;
    }

    .navlinks, .navlinks_show{
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
    }

    /* Hero & Summary Section */
    .hero {
        margin: 0;
        height:15rem;
    }

    /* Contact Section */

    .contact {
        grid-area: contact;
        flex-flow: row-reverse wrap;
        align-content: center;
        margin-top: 0;
        width: 100%;
        border-radius: 0;
        padding: 0;
    }
    .contact_item {
        max-width:100%;
        margin: auto;
        padding: .5rem;
    }


    /* Footer Styles */
    footer {
        grid-area: footer;
    }
}