*{
    margin: 0 0 0 0;
    font-family: 'Muli', sans-serif;
}

h1, h2, h3 {
    font-family: 'Special Elite', monospace; 
}

/* font-family: 'Muli', sans-serif;
/  font-family: 'Special Elite', cursive; */