/* DESKTOP/LARGE SCREEN VIEW */
@media only screen and (min-width: 1025px){

.gallery_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
}
.gallery_grid figure:hover {
    box-shadow: 0 .5rem 1rem #666666;
}







/* Thank You Page Formatting */
.thankyoubox {
    display: block;
}
.thankswide {
    display: block;
    float: right;
    margin-left: .5rem;
    max-width: 50%;
}

/* END MEDIA QUERY*/
}