@media only screen and (min-width:550px){
.row1 {
    height: 5rem;
}
nav ul{
    width: 98%;
    align-content: center;
}
.navtext{
    display:block;
}
.sitelogo{
    height: 6rem;
}
.currentpage{
    border: none;
    background-color: #594d41;
    color: #9d8984;
    text-shadow: none;
}
.currentpage:hover{
    border:none;
    transform:none;
    color: #9d8984;
    text-shadow: none;
}

/*HERO IMAGE STYLES */
.hero{
    height: 400px;
    background: url('../images/hero_1024.jpg') no-repeat center;
}
.calltoaction{
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
}
.reshero{
    height: 400px;
    background: url('../images/reshero_1024.jpg') no-repeat center;
}
.contacthero{
    height: 400px;
    background: url('../images/contacthero_1024.jpg') no-repeat center;
}
.templehero{
    height: 400px;
    background: url('../images/templehero_1024.jpg') no-repeat center;
}
.servicehero{
    height: 400px;
    background: url('../images/servicehero_1024.jpg') no-repeat center;
}
.pageheader{
    bottom: 2rem;
}

/*MAIN LAYOUT */
.homepage{
    display:grid;
    grid-template-areas: 
    "featured amen";
    grid-template-columns: 58% 1fr;    
}
.featuredbox {
    grid-area: featured;
}
.nonhome{
    padding-top: 2rem;
}
.respage{
    padding-top:0;
}
.amenities{
    grid-area: amen;
    margin-top: 1rem;
}

/* TEMPLE STYLES */
.templecard {
    display: grid;
    grid-template-areas:
    "photo photo"
    "map map"
    "weather services"
    "closures closures";
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
    align-items: stretch;
}
.templecard section:first-child{
    grid-area: photo;
}
.templecard .location{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    grid-area: map;
}
.location div{
    width: 50%;
}
.templemap{
    height: 100%;
    align-self: flex-end;
}
.weather{
    grid-area: weather;
}
.templecard section:nth-child(4){
    grid-area: services;
}
.templecard section:last-child{
    grid-area: closures;
}

/* RESERVATIONS PAGE STYLES */
.resinfo{
    flex-flow: row wrap;
    justify-content: space-between;
}
.resinfo p:nth-child(n+3){
    width: 49%; 
}
.resinfo p:nth-child(2), .resinfo p:last-child{
    width: 100%;
}
.personalshow{
    flex-flow: row wrap;
    justify-content: space-between;
}
.personalshow p:nth-child(-n+5){
    width: 49%;
}
.personalshow p:nth-child(n+6){
    width: 100%;
}

/* AMENITIES STYLES */
.amenities_head{
    font-size:1.5rem;
}
.amenities_item img{
    object-fit:cover;
    overflow-y:hidden;
    height:19%;
    width:100%;
    opacity: .5;
    border-radius: .3rem;
}
.amenitybox{
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .5rem;
}

/*CONTACT US STYLES */
.contactform {
    width: 80%;
    margin: 0 auto;
}
}