@media only screen and (min-width:550px){
.row1 {
    height: 5rem;
}
nav ul{
    width: 98%;
    align-content: center;
}
.navtext{
    display:block;
}
.sitelogo {
    width: 35%;
    max-width: 252px;
    margin-left: 1.5rem;
    height: 6.5rem;
}
.sitelogo img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
}
.currentpage{
    border: none;
    background-color: #594d41;
    color: #9d8984;
    text-shadow: none;
}
.currentpage:hover{
    border:none;
    transform:none;
    color: #9d8984;
    text-shadow: none;
}
.menubutton {
    display: none;
}
.subnav_hide, .subnav_show{
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 0 auto;
    list-style-type: none;
    font-size: 1rem;
    align-items: flex-end;
}
.subnav_hide .currentsubpage, .subnav_hide .currentsubpage:visited,
.subnav_show .currentsubpage, .subnav_show .currentsubpage:visited{
    font-weight: bold;
    color: #594d41;
}

/*HERO IMAGE STYLES */
.hero{
    height: 400px;
    background: url('../images/hero_1024.jpg') no-repeat center;
}
.calltoaction{
    height: 340px;
    bottom: 20px;
    right: 0;
    font-size: 2rem;
}
.reshero{
    height: 400px;
    background: url('../images/reshero_1024.jpg') no-repeat center;
}
.contacthero{
    height: 400px;
    background: url('../images/contacthero_1024.jpg') no-repeat center;
}
.templehero{
    height: 400px;
    background: url('../images/templehero_1024.jpg') no-repeat center;
}
.servicehero{
    height: 400px;
    background: url('../images/servicehero_1024.jpg') no-repeat center;
}
.pageheader{
    bottom: 2rem;
}

/*MAIN LAYOUT */
.homepage{

}
.nonhome{
    padding-top: 2rem;
}
.amenities{
    margin-top: 1rem;
}
.featured{
    height: 450px;
}
.featured img{
    height: 450px;
}
.featured_blurb{
    width:50%;
}
/* TEMPLE STYLES */
.templecard {
    display: grid;
    grid-template-areas:
    "photo photo"
    "map map"
    "weather services"
    "closures closures";
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
    align-items: stretch;
}
.templecard section:first-child{
    grid-area: photo;
}
.templecard .location{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
    grid-area: map;
}
.location div{
    width: 100%;
}
.templemap{
    height: 100%;
    width: 100%;
    align-self: flex-end;
}
.weather{
    grid-area: weather;
}
.templecard section:nth-child(4){
    grid-area: services;
}
.templecard section:last-child{
    grid-area: closures;
}

/* RESERVATIONS PAGE STYLES */
.resinfo{
    flex-flow: row wrap;
    justify-content: space-between;
}
.resinfo p:nth-child(n+3){
    width: 49%; 
}
.resinfo p:nth-child(2), .resinfo p:last-child{
    width: 100%;
}
.personalshow{
    flex-flow: row wrap;
    justify-content: space-between;
}
.personalshow p:nth-child(-n+5){
    width: 49%;
}
.personalshow p:nth-child(n+6){
    width: 100%;
}

/* AMENITIES STYLES */
.specialservbox{
    display: flex;
    flex-flow: row wrap;
}
.spec_services{
    display: flex;
    flex-flow: row wrap;
}
.spec_services h2{
    width: 100%;
}
.spec_services img{
    width: 48%;
}
.spec_services p{
    width: 48%;
    margin: 0;
    padding: 0 .5rem 0 .5rem;
}
.amenities{
    width: 100%;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: space-around;
}
.amenities_item{
    width: 48%;
}
.amenitybox{
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .5rem;
}
/* SERVICES SUBPAGES */
.serv_subpage{
    flex-flow: row wrap;
}
.servsub_intro{
    width: 98%;
    display:flex;
    flex-flow: column wrap;
}
.servsub_intro p{
    width: 49%;
}
.servsub_intro img{
    width: 49%;
    break-before: always;
    align-self: center;
}

/*CONTACT US STYLES */
.contactform {
    width: 80%;
    margin: 0 auto;
}
}