body {
    background-color: #ffffff;
    color: #594d41;
    font-size: 2vh;
    font-family: 'Cardo', serif;
}
h1 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 2.5rem;
    margin: 0;
}
h2 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 2rem;
    margin: 0;
    text-align: center;
}
h3{
    margin:0;
}
a, a:visited{
    color:#9d8984;
}
a:hover, a:active, a:focus{
    color:#594d41;
}

/* HOMEPAGE HEADER/NAVIGATION STYLES */
header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: #594d41;
    color: #f7f6ee;
    margin: 0;
    padding: 0;
}
header a{
    display:block;
}
.row1 {
    display:flex;
    background-color: #594d41;
    flex-flow: row nowrap;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
    align-items: flex-start;
    max-width: 1200px;
}
.sitelogo {
    position: relative;
    width: 35%;
    margin-left: 1rem;
    padding: .5rem;
    height: 5rem;
    background-color: #e4e2d5;
    border-radius: 0 0 .5rem .5rem;
    z-index: 10;
    box-shadow: 5px 5px 5px rgba(51,51,51,.5);
}
.sitelogo img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
}
nav {
    align-self: center;
    width:100%;
}
nav ul{
    width:100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
nav img{
    margin: .25rem;
}
nav a, nav a:visited{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #f7f6ee;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
}
nav a:hover{
    color: #9d8984;
    transform: translateY(-2px);
    text-shadow: 0 3px 2px #333333;
    transition: .3s;
}
nav a:active, nav a:focus{
    color: #9d8984;
    transform: translateY(2px);
    text-shadow: none;
}
.navtext{
    display:none;
}
.currentpage{
    background-color: #9d8984;
    border: 2px solid #9d8984;
    border-radius: .5rem;
}
.row2{
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    background-color: #9d8984;
    padding: .5rem;
}
.subhead{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
.subhead ul{
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 0 auto;
    list-style-type: none;
    font-size: 1rem;
    align-items: flex-end;
}
.subhead a, .subhead a:visited{
    color: #f7f6ee;
    display: block;
    margin: 0 .5rem 0 .5rem;
    text-decoration: none;
}
.subhead a:hover, .subhead a:focus, .subhead a:active{
    color: #c4bdbc;
    text-decoration: underline;
}

/*HERO IMAGE STYLES */
.hero{
    position: relative;
    width:100%;
    max-width: 1200px;
    height: 300px;
    background: url('../images/hero_550.jpg') no-repeat center;
    background-size: cover;
    overflow-x:hidden;
    margin: 0 auto;
}
.calltoaction{
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    border-radius:.3rem;
    background-color: rgba(89,77,65,.5);
    text-shadow: 0 3px 3px rgba(51,51,51,.8);;
    font-size: 1.5rem;
    color: #f7f6ee;
    text-align: center;
    padding: 0 .5rem 0 .5rem;
    font-weight: 700;
}
.reshero{
    position: relative;
    width:100%;
    max-width: 1200px;
    height: 300px;
    background: url('../images/reshero_550.jpg') no-repeat center;
    background-size: cover;
    overflow-x:hidden;
    margin: 0 auto;
    padding: 0;
}
.contacthero{
    position: relative;
    width:100%;
    max-width: 1200px;
    height: 300px;
    background: url('../images/contacthero_550.jpg') no-repeat center;
    background-size: cover;
    overflow-x:hidden;
    margin: 0 auto;
    padding: 0;
}
.templehero{
    position: relative;
    width:100%;
    max-width: 1200px;
    height: 300px;
    background: url('../images/templehero_550.jpg') no-repeat center;
    background-size: cover;
    overflow-x:hidden;
    margin: 0 auto;
    padding: 0;
}
.servicehero{
    position: relative;
    width:100%;
    max-width: 1200px;
    height: 300px;
    background: url('../images/servicehero_550.jpg') no-repeat center;
    background-size: cover;
    overflow-x:hidden;
    margin: 0 auto;
    padding: 0;
}
.pageheader{
    position: absolute;
    bottom: .5rem;
    right: 0;
    color: #f7f6ee;
    border-radius:.3rem 0 0 .3rem;
    background-color: rgba(89,77,65,.5);
    text-shadow: 0 3px 3px rgba(51,51,51,.8);;
    text-align: center;
    padding: 0 .5rem 0 .5rem;
    font-weight: 700;
}


/* MAIN SECTION STYLES */
main {
    background-color: #f7f6ee;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding:0 0 .5rem 0;
    text-align: center;
}
.nonhome{
    padding-top: 1rem;
}
.featured {
    display:flex;
    flex-flow: column nowrap;
    width:95%;
    margin: 1rem auto 1rem auto;
    padding: 0;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(51,51,51,.5);
    border-radius: .5rem;
}
.featured img{
    object-fit: cover;
    max-width: 100%;
}
.featured_blurb{
    margin: 0;
    padding: .5rem;
    color: #594d41;
    background-color:#ffffff;
    border-radius: 0 0 .5rem .5rem;
}
.featured_head{
    display:block;
    margin: 0;
    padding: .5rem 0 .5rem 0;
    width: 100%;
    background-color: #c4bdbc;
    text-shadow:2px 2px 2px rgba(51,51,51,.5); 
    border-radius: .5rem .5rem 0 0;
}

/* SERVICES/AMENITIES STYLES */
.serv_head {
    background-color: #c4bdbc;
    font-size: 2rem;
    font-weight: 700;
    color: #f7f6ee;
    line-height: 150%;
    text-shadow: 2px 2px 2px rgba(51,51,51,.5); 
}
.specialservbox{
    width: 98%;
    margin: 0 auto;
}
.spec_services {
    margin: 1rem auto 0 auto;
    text-align: left;
    padding: .5rem;
    border: 1px solid #594d41;
    border-radius: .3rem;
}
.spec_services img{
    border-radius: .3rem;
    max-width: 100%;
}
.amenities {
    display:flex;
    flex-flow: column nowrap;
    width: 95%;
    margin: 0 auto;
    padding: 0;
}
.amenities_item {
    margin: 0 0 1rem 0;
    border-radius: .3rem;
    box-shadow: 3px 3px 3px rgba(51,51,51,.5);
}
.amenities_item img{
    object-fit:cover;
    overflow-y:hidden;
    max-height: 10rem;
    width:100%;
    border-radius: .3rem;
}
figcaption{
    font-weight: 700;
    padding: .25rem;
}

/* SERVICES SUPAGES */
.serv_subpage{
    margin: 0 auto;
    width: 98%;
    text-align: left;
}
.serv_subpage img{
    float:right;
    border-radius: .3rem;
    padding: 1rem;
    max-width: 100%;
}

/* AMENITIES SUBPAGE */
.amenitybox {
    width: 100%;
}
.amenitycard{
    display:flex;
    flex-flow: column nowrap;
    width:95%;
    margin: .5rem auto .5rem auto;
    padding: 0;
    box-shadow: 5px 5px 5px rgba(51,51,51,.5);
    padding: .5rem;
    border-radius: .5rem;
    background-color: #ffffff;
    text-align: left;
}
.amenitycard img{
    border-radius: .3rem;
    margin-top: .5rem;
    max-width: 100%;
}
.amenitycard ul{
    list-style-type: square;
    margin:0;
}
.amenitycard h3{
    display:block;
    margin: 0;
    padding: .5rem 0 .5rem 0;
    width: 100%;
    background-color: #c4bdbc;
    text-align: center;
}

/* TEMPLE STYLES */
.templeintro{
    display:block;
    max-width: 600px;
    width: 95%;
    margin: 0 auto;
}
.templethumbs{
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.templethumbs figure{
    margin: 0;
    padding: .5rem;
    width: 150px;
}
.templethumbs figure img{
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(51,51,51,.5);
}
.templenavtoggle{
    display:block;
    width:100%;
    background-color: #f7f6ee;
    cursor:pointer;
}
.navposition{
    position:relative;
}
.templenav{
    position: absolute;
    top: 0;
    left: 0;
    max-height:0;
    overflow-y:hidden;
}
.templenav_show{
    position:absolute;
    top: 0;
    left: 0;
    display:block;
    width:100%;
    max-height: 14rem;
    margin: 0 auto;
}
.templenav_show ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.templenav_show a{
    display:block;
    padding: .25rem 0 .25rem 0;
    background-color: #e4e2d5;
    border-bottom: 1px solid #594d41;
}
.templenav_show a:hover{
    background-color: #c4bdbc;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}
.templecard{
    display:flex;
    flex-flow: column nowrap;
    width:95%;
    margin: 1rem auto;
    padding: 0;
    background-color:#f7f6ee;
}
.templecard section{
    display:flex;
    flex-flow: column nowrap;
    margin: .5rem 0 0 0;
    padding: .5rem;
    border-radius: .5rem;
    background-color: #ffffff;
    box-shadow:2px 2px 2px rgba(51,51,51,.5)
}
.templecard section h3{
    background-color: #e4e2d5;
}
.templecard section:first-child img{
    align-self: center;
    border-radius: .5rem;
    width: 100%;
    max-width: 400px;
}
.templecard section:nth-child(2) img, .templecard section:nth-child(4) img{
    vertical-align:middle;   
}
.templecard img{
    margin: .25rem;
}
.templecard ul{
    list-style-type:none;
    margin:0;
    padding:0;
    text-align: left;
    align-self:center;
}
.templemap{
    width: 100%;
    max-width: 400px;
    height: 250px;
    border: 0;
    align-self: center;
}
.weather img{
    max-width:64px;
    align-self:center;
}
.wchill{
    font-style: italic;
    margin-left: 1.5rem;
}

/* GENERAL FORM STYLES */
form{
    width: 95%;
    margin: 0 auto;
}
legend{
    font-family: 'Petit Formal Script', cursive;
    font-size: 1.5rem;
    margin: .5rem;
    padding: .5rem;
    border: 1px solid #594d41;
    border-radius: .3rem;
    background-color: #f7f6ee;
}
fieldset{
    margin: 0 auto;
    border: 1px solid #594d41;
    border-radius: .5rem;
    background-color: #e4e2d5;
}
fieldset:focus-within{
    background-color:rgba(228,226,213,.7);
}
fieldset p{
    display:flex;
    flex-flow: column nowrap;
    text-align: left;
}
input, select{
    font-size: 1rem;
    border:1px dashed #594d41;
    background-color: #f7f6ee;
    box-sizing: border-box;
    color: #594d41; 
    height: 2rem;
    margin:0;
    padding:.25rem;
}
input::placeholder, textarea::placeholder{
    color: #c4bdbc;
    font-size: 1rem;
}
input:focus, select:focus, textarea:focus{
    outline: 2px solid #9d8984;
    box-shadow: 2px 2px 2px rgba(51,51,51,.5);
}
textarea{
    font-size: 1rem;
    border:1px dashed #594d41;
    box-sizing: border-box;
    background-color: #f7f6ee;
    color: #594d41;
    resize:none;
    overflow-y:scroll;
    width:100%;
    height: 10rem;
    margin: 0;
    padding: .5rem;
}
input[type=submit], input[type=button]{
    align-self: flex-end;
    width: fit-content;
    font-size: 1.2rem;
    height: 3rem;
    font-weight: bold;
    text-align: center;
    padding: .5rem;
    border: 1px solid #594d41;
    border-radius: .3rem;
    box-shadow: 0px 3px 3px rgba(51,51,51,.5);
}
input[type=submit]:focus, input[type=button]:focus{
    outline: 2px solid #9d8984;
}
input[type=submit]:active, input[type=button]:focus{
    transform: translateY(2px);
    box-shadow: none;
}
input[type=radio]{
    height: .8rem;
    width: .8rem;
    margin: .5rem;
}
input[type=radio]:active, input[type=radio]:focus{
    border: none;
}
.radioset{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
}
/* RESERVATION PAGE STYLES */
.resinfo{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}
.personalhide{
    display: none;
}
.personalshow{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}
/* CONTACT PAGE STYLES */
.contactfield{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #ffffff;
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
}
.contact{
    width: 100%;
}
.hqmap{
    border: 1px solid #594d41;
    width: 90%;
    height: 15rem;
}
.thanks {
    background-color: #ffffff;
    border-radius: .5rem;
    width: 98%;
    margin: 0 auto;
    max-width: 800px;
}

/* ATTRIBUTION */
.attbox {
    text-align: left;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: #ffffff;
}
.attbox ul{
    margin: 0 auto;
    list-style-type: none;
}

/* FOOTER STYLES */
footer {
    background-color: #e4e2d5;
    font-size: 1rem;
    margin: 0 auto 1.5rem;
    max-width: 1200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 .5rem .5rem;
}
footer img{
    margin: .5rem;
}
.footerlinks {
    display: flex;
    flex-flow: column nowrap;
    padding: .5rem;
}
.social {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    padding: .5rem;
}