body {
    font-family: 'Muli', sans-serif;
    color: #133751;
    font-size: 2vh;
    background-color: #cee5f2;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
    border: 2px solid #133751;
    border-radius: .3rem;
    width: 50%;
}

h1{
    font-family: 'Special Elite', monospace; 
    font-size: 2rem;
}